body {
    font-family: Arial;
    background-color: #eef2f3;
}

.box {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
}

h1, h2 {
    text-align: center;
    color: green;
}

input {
    width: 100%;
    padding: 8px;
}

input[type=submit] {
    background-color: green;
    color: white;
    border: none;
}

.register-text {
    text-align: center;
    margin-top: 15px;
}

a {
    color: green;
    text-decoration: none;
}
